<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
{% include "menu.html" %}


<script src="http://api-maps.yandex.ru/1.1/index.xml?key=AMh9o1IBAAAAXvWgMwUAN3a_UVv9mH175xKXWObDW8Y4CAAAAAAAAAAAAACJnwQdBpVq0MFSP56dp9ZX7IG5Sw==~ANwsp1IBAAAAj83QZgMAExbJQxzMWDoj-S45aUXZJv6ek8IAAAAAAAAAAAAJqWfxRPu3B_P7PoZ-AEXsU4tBWA=="
	type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function () {
            var map = new YMaps.Map(document.getElementById("YMapsID"));
            map.setCenter(new YMaps.GeoPoint(37.64, 55.76), 10);
            
            //map.addControl(new YMaps.TypeControl());
            map.addControl(new YMaps.ToolBar());
            map.addControl(new YMaps.Zoom());
            map.addControl(new YMaps.Polygon());
            map.addControl(new YMaps.ScaleLine());
			map.addControl(new YMaps.SearchControl());
        }
    </script>


    <!-- We use row-fluid inside containers to achieve a resizable layout. -->
    <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
    <!-- http://stackoverflow.com/a/12270322 -->
    <div class="container">
      <!-- Font and paired font of .heading/.subheading and body from Google Fonts -->
      <!-- www.google.com/fonts/specimen/Ubuntu -->
      <!-- www.google.com/fonts/specimen/Ubuntu#pairings -->
      <div class="row-fluid heading">
        <div class="span12">
          <h1>Little Brother To The Rescue</h1>
        </div>
      </div> 
      <div class="row-fluid subheading">
        <div class="span12">
          <!-- Special typography from Bootstrap for lead paragraph. -->
          <!-- http://twitter.github.io/bootstrap/base-css.html#typography -->
          <p class="lead">Mobile app to organize massive rescue of missing people.</p>
        </div>
      </div>
      <div class="row-fluid pitch">
	    <div class="span5 offset1 asset">
          <img class="img-polaroid" alt="Placeholder" src="http://placehold.it/480x300">
        </div>
		<div class="span5 copy">
			<div id="YMapsID" style="width:480px;height:300px"></div>
        </div>
      </div>

      <!-- Beyond this part the marketing copy begins. -->
      <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-align -->
      <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
      <!-- http://placehold.it -->
      <div class="row-fluid section1">
        <div class="span5 offset1 asset">
          <img class="img-polaroid" alt="Placeholder" src="http://placehold.it/480x300">
        </div>
        <div class="span5 copy">
          <p>
Some text
          </p>
        </div>
      </div>

{% include "footer.html" %}

</body>
</html>
